.chatMsg .message img { max-height: 40vh; }


.message.greentext { color: #00ff00;
text-shadow: 0 0 5px rgba(0,
255, 0, 0.6);
padding: 1px;
}
.replyAt {
color: #4fd1c5;
text-shadow: 0 0 8px rgba(79,
209, 197, 0.6);
padding: 1px;
}